body {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0px;
}

h1 {
  font-family: "Quicksand", sans-serif;
}

h2 {
  font-family: "Quicksand", sans-serif;
}

h3 {
  font-family: "Quicksand", sans-serif;
}

h4 {
  font-family: "Quicksand", sans-serif;
}

a {
  font-family: "Quicksand", sans-serif;
}
p {
  font-family: "Source Sans Pro", sans-serif;
}

li {
  font-family: "Quicksand", sans-serif;
}

/*nav-bar--------------------------------------*/
.nav-bar {
  width: 100%;
  height: 10vh;
  background-color: white;
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-around;
  position: fixed;
  z-index: 10;
  margin: 0px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

/*nav buttons*/
.nav-btns,
#log-out {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  padding: 0 5px;
  font-size: 18px;
  text-decoration: none;
}

.nav-btns:hover,
.nav-btns:focus,
#log-out:hover,
#log-out:focus {
  background-color: #b492c4;
}

#home-btn {
  width: auto;
}

#logo {
  height: 8vh;
  width: auto;
  padding-right: 20vw;
}

/*--------contact form----------*/
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 4px solid #b492c4;
  margin-bottom: 5vh;
}

#contact-header {
  border-bottom: 1px solid #b492c4;
  padding-bottom: 2vh;
}
.contact-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "Quicksand", sans-serif;
}

.contact-form > label {
  font-size: large;
}

.contact-form > input {
  margin-bottom: 5vh;
  margin-top: 2vh;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.contact-form > textarea {
  margin-bottom: 5vh;
  margin-top: 2vh;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 4px solid #6e3a84;
}

.contact-form > select {
  margin-top: 2vh;
  margin-bottom: 5vh;
  background-color: rgba(255, 255, 255, 0);
  border: 4px solid #6e3a84;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(182, 182, 182);
  opacity: 1; /* Firefox */
}
/*home page----------------------*/
.home-jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://img.marinas.com/v2/90485f73e926a9cbc75ca2e4320770326dea30774c50df0f681db82967270dc3.jpg");
  background-size: cover;
  height: 120vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  height: 30vh;
  width: 20vw;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  z-index: 5;
  font-size: large;
  position: fixed;
}

.home-container > h1 {
  border: 4px solid #b492c4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
/*homepage button styling*/
#login-button {
  border: 4px solid green;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

#signup-button {
  border: 4px solid #6e3a84;
  text-decoration: none;
  color: white;
  padding: 10px 16px;
  cursor: pointer;
}
/*Login and Signup Pages*/
.login-signup-container {
  height: 50vh;
  width: 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  text-align: center;
  margin-bottom: 8%;
}

.login-signup-container a {
  color: white;
  text-decoration: none;
}

/*Forms---------------------------*/
/*Form-inputs*/
input,
input[type="email"],
input[type="password"],
input[type="text"] select {
  padding: 1vh 1vw;
  margin: 8px 0;
  display: inline-block;
  border: 4px solid #6e3a84;
  background: transparent;
  color: white;
  box-sizing: border-box;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder {
  background: transparent;
  color: white;
  font-family: "Quicksand", sans-serif;
}

input[type="submit"],
select {
  border: 1px solid green;
  background: transparent;
  background-color: green;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 12px;
  cursor: pointer;
  width: 200px;
  font-family: "Quicksand", sans-serif;
}

.forms > input[type="submit"],
select {
  border: 1px solid green;
  background: transparent;
  background-color: green;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px 12px;
  cursor: pointer;
  width: 200px;
  font-family: "Quicksand", sans-serif;
}

/*Form Containers*/
.forms > input {
  text-align: center;
  padding: 1vh 1vw;
  display: inline-block;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  border: 4px solid #6e3a84;
}

.forms > input[type="submit"] {
  border: 1px solid green;
}

/*------Handbook----------------*/
.progress {
  background: linear-gradient(to right, green var(--scroll), lightgray 0);
  background-repeat: no-repeat;
  border-radius: 25px;
  width: 70%;
  height: 15px;
  z-index: 1;
  margin-bottom: 5vh;
}
.lesson-path {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  background-color: #eeeeee;
  padding: 15vh 0;
  height: 100%;
  width: 100%;
}

.lesson-path a {
  text-decoration: none;
  color: white;
}

.welcome-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px none;
  background-color: #f8f8f8;
  border: 4px solid #b492c4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-decoration: none;
  height: 85vh;
  width: 60vw;
}

.welcome-box > h2 {
  border-bottom: 1px solid #b492c4;
  padding-bottom: 2vh;
}
#lesson-button,
#next-button {
  border: 1px solid none;
  text-decoration: none;
  background-color: #6e3a84;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Quicksand", sans-serif;
  padding: 10px 20px;
  cursor: pointer;
  margin: 4vh 0;
}

.lesson-boxes {
  border: 1.5px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  background-color: white;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5vh;
  height: 12vh;
  width: 60vw;
}

.lesson-top {
  display: flex;
  align-items: baseline;
  padding-left: 5%;
  width: 100%;
  height: 60%;
}

.lesson-bottom {
  height: 40%;
  width: 100%;
  background-color: #6e3a84;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-completed {
  height: 40%;
  width: 100%;
  background-color: green;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#time {
  font-size: small;
}

/*-------Our Story----------*/
.story-jumbotron {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.upper-container {
  height: 20vh;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid grey;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.upper-container > a {
  text-decoration: none;
  color: #b492c4;
  padding: 5vh 18vw 0 0;
}

.story-photos {
  height: auto;
  width: 30vw;
  padding: 1vh 0vw;
}

.stories {
  height: auto;
  width: 40vw;
  color: black;
  font-size: larger;
  text-align: center;
  padding-bottom: 5vh;
  border-bottom: 1px solid #6e3a84;
}

#story-headers {
  border-bottom: 1px solid #6e3a84;
  color: black;
  margin-top: 5vh;
  padding: 10px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

/*---------------Mission, Vision, and Values Page-------------*/
.mission-photos {
  height: auto;
  width: 40vw;
  padding-top: 10vh;
}

.mission-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://raw.githubusercontent.com/drakesmelser54/Crossroads-Volunteer-Handbook/master/images/Screen%20Shot%202021-07-31%20at%2011.25.05%20PM.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 10vh 0;
  height: 90vh;
  width: 70%;
}

.mission-container > h3 {
  margin: 0 10vw;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(0, 0, 0, 0.7);
}

.mission-container > h2 {
  border: 4px solid #b492c4;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(0, 0, 0, 0.7);
}

.vision-value-container {
  display: inline-flex;
  align-items: center;
  width: 70%;
  border: 4px solid #b492c4;
  padding: 20px;
  margin-bottom: 10vh;
}

.vision-value-container > img {
  padding-right: 5vw;
}

.do-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

.do-container > h2 {
  border-bottom: 1px solid #b492c4;
  padding: 10vh;
}

.do-container > img {
  margin: 5vh 0;
}

#special-do {
  border-top: 1px solid #b492c4;
}

#programs-header {
  border-bottom: 1px solid #b492c4;
  border-top: 1px solid #b492c4;
  padding: 10vh;
}
.do-column-container {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.do-columns {
  width: 25%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.do-columns > h3 {
  border-bottom: 1px solid #b492c4;
  padding: 2vh 8vw;
}

/*-----Org. Chart------*/
.org-jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://www.thehorizonfoundation.org/wp-content/uploads/2018/08/iStock-697438336.jpg");
  background-size: cover;
  height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.org-box, .right-org-box {
  height: 12vh;
  width: 15vw;
  background-color: #6e3a8463;
  border: 2px solid #ffc107;
  color: white;
  text-align: center;
  font-size: small;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.org-box > h3 {
  border-bottom: 1px solid #b492c4;
  padding-bottom: 6%;
}

.right-org-box > h3  {
  border-bottom: 1px solid #b492c4;
  padding-bottom: 2%;
}
.between-orgs {
  width: 10vw;
  border-bottom: 1px solid #ffc107;
}

.right-org-container {
  height: 100vh;
  width: 20vw;
  border-left: 1px solid #ffc107;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}


.right-org-box {
  height: 10vh;
  width: 13vw;
}

/*----------completion form----------------*/
.completion-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
  font-size: smaller;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border: 4px solid #b492c4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 5%;
  padding: 10px;
}

#completion-submit {
  margin: 3vh auto;
}

.completion-text {
  text-align: center;
  width: 50%;
  border-bottom: 1px solid #b492c4;
  margin-bottom: 3vh;
}

.completion-text > p {
  font-family: "Quicksand", sans-serif;
}

/*star rating*/
#star-description {
  text-align: left;
  line-height: 5pt;
}
.star-rating .thanks-msg {
  display: none;
  font-size: 20px;

  color: #4caf50;
  background-color: rgba(76, 175, 80, 0.1411764705882353);
  padding: 8px 20px;
  border-left: 3px solid #4caf50;
  border-radius: 20px;
}
.star-rating input {
  display: none;
}
.star-rating {
  display: table;
  width: auto;
  border: 4px solid #6e3a84;
}
.star-rating label {
  padding: 10px;
  float: right;
  font-size: 15px;
  color: rgb(182, 182, 182);
  opacity: 1;
}
.star-rating input:not(:checked) ~ label:hover,
.star-rating input:not(:checked) ~ label:hover ~ label {
  color: #ffc107;
}
.star-rating input:checked ~ label {
  color: #ffc107;
}
.star-rating form .rating-reaction:before {
  width: 100%;
  float: left;
  color: #ffc107;
}
