body {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0px;
}

h1 {
  font-family: "Quicksand", sans-serif;
}

h2 {
  font-family: "Quicksand", sans-serif;
}

h3 {
  font-family: "Quicksand", sans-serif;
}

h4 {
  font-family: "Quicksand", sans-serif;
}

a {
  font-family: "Quicksand", sans-serif;
}
p {
  font-family: "Quicksand", sans-serif;
}

li {
  font-family: "Quicksand", sans-serif;
}

/*nav-bar--------------------------------------*/
.nav-bar {
  width: 100%;
  height: 10vh;
  background-color: white;
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-around;
  position: fixed;
  z-index: 10;
  margin: 0px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

/*nav buttons*/
.nav-btns,
#log-out {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  padding: 0 5px;
  font-size: 18px;
  text-decoration: none;
}

.nav-btns:hover,
.nav-btns:focus,
#log-out:hover,
#log-out:focus {
  background-color: #b492c4;
}

#home-btn {
  width: auto;
}

#logo {
  height: 8vh;
  width: auto;
  padding-right: 20vw;
}

/*--------contact form----------*/
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 4px solid #b492c4;
  margin-bottom: 5vh;
}

#contact-header {
  border-bottom: 1px solid #b492c4;
  padding-bottom: 2vh;
}
.contact-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "Quicksand", sans-serif;
}

.contact-form > label {
  font-size: large;
}

.contact-form > input {
  margin-bottom: 5vh;
  margin-top: 2vh;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.contact-form > textarea {
  margin-bottom: 5vh;
  margin-top: 2vh;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 4px solid #6e3a84;
}

.contact-form > select {
  margin-top: 2vh;
  margin-bottom: 5vh;
  background-color: rgba(255, 255, 255, 0);
  border: 4px solid #6e3a84;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(182, 182, 182);
  opacity: 1; /* Firefox */
}
/*home page----------------------*/
.home-jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://img.marinas.com/v2/90485f73e926a9cbc75ca2e4320770326dea30774c50df0f681db82967270dc3.jpg");
  background-size: cover;
  height: 120vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  height: 30vh;
  width: 20vw;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  z-index: 5;
  font-size: large;
  position: fixed;
}

.home-container > h1 {
  border: 4px solid #b492c4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
/*homepage button styling*/
#login-button {
  border: 4px solid green;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

#signup-button {
  border: 4px solid #6e3a84;
  text-decoration: none;
  color: white;
  padding: 10px 16px;
  cursor: pointer;
}
/*Login and Signup Pages*/
.login-signup-container {
  height: 50vh;
  width: 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  text-align: center;
  margin-bottom: 8%;
}

.login-signup-container a {
  color: white;
  text-decoration: none;
}

/*Forms---------------------------*/
/*Form-inputs*/
input,
input[type="email"],
input[type="password"],
input[type="text"] select {
  padding: 1vh 1vw;
  margin: 8px 0;
  display: inline-block;
  border: 4px solid #6e3a84;
  background: transparent;
  color: white;
  box-sizing: border-box;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder {
  background: transparent;
  color: white;
  font-family: "Quicksand", sans-serif;
}

input[type="submit"],
select {
  border: 1px solid green;
  background: transparent;
  background-color: green;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 12px;
  cursor: pointer;
  width: 200px;
  font-family: "Quicksand", sans-serif;
}

.forms > input[type="submit"],
select {
  border: 1px solid green;
  background: transparent;
  background-color: green;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px 12px;
  cursor: pointer;
  width: 200px;
  font-family: "Quicksand", sans-serif;
}

/*Form Containers*/
.forms > input {
  text-align: center;
  padding: 1vh 1vw;
  display: inline-block;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  border: 4px solid #6e3a84;
}

.forms > input[type="submit"] {
  border: 1px solid green;
}

/*------Handbook----------------*/
.progress {
  background: linear-gradient(to right, green var(--scroll), lightgray 0);
  background-repeat: no-repeat;
  border-radius: 25px;
  width: 70%;
  height: 15px;
  z-index: 1;
  margin-bottom: 5vh;
}
.lesson-path {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  background-color: #eeeeee;
  padding: 15vh 0;
  height: 100%;
  width: 100%;
}

.lesson-path a {
  text-decoration: none;
  color: white;
}

.welcome-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px none;
  background-color: #f8f8f8;
  border: 4px solid #b492c4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-decoration: none;
  height: 85vh;
  width: 60vw;
}

.welcome-box > h2 {
  border-bottom: 1px solid #b492c4;
  padding-bottom: 2vh;
}
#lesson-button,
#next-button {
  border: 1px solid none;
  text-decoration: none;
  background-color: #6e3a84;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Quicksand", sans-serif;
  padding: 10px 20px;
  cursor: pointer;
  margin: 4vh 0;
}

.lesson-boxes {
  border: 1.5px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  background-color: white;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5vh;
  height: 12vh;
  width: 60vw;
}

.lesson-top {
  display: flex;
  align-items: baseline;
  padding-left: 5%;
  width: 100%;
  height: 60%;
}

.lesson-bottom {
  height: 40%;
  width: 100%;
  background-color: #6e3a84;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-completed {
  height: 40%;
  width: 100%;
  background-color: green;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#time {
  font-size: small;
}

/*-------Our Story----------*/
.story-jumbotron {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.story-jumbotron > h2 {
  border-bottom: 1px solid #b492c4;
  padding-bottom: 5vh;
}
.upper-container {
  height: 20vh;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid grey;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.upper-container > a {
  text-decoration: none;
  color: #b492c4;
  padding: 5vh 18vw 0 0;
}

.story-photos {
  height: auto;
  width: 30vw;
  padding: 1vh 0vw;
}

.stories {
  height: auto;
  width: 40vw;
  color: black;
  font-size: larger;
  text-align: center;
  padding-bottom: 5vh;
  border-bottom: 1px solid #6e3a84;
}

#story-headers {
  border-bottom: 1px solid #6e3a84;
  color: black;
  margin-top: 5vh;
  padding: 10px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

/*---------------Mission, Vision, and Values Page-------------*/
.mission-photos {
  height: auto;
  width: 40vw;
  padding-top: 10vh;
}

.mission-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://raw.githubusercontent.com/drakesmelser54/Crossroads-Volunteer-Handbook/master/images/Screen%20Shot%202021-07-31%20at%2011.25.05%20PM.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 10vh 0;
  height: 90vh;
  width: 70%;
}

.mission-container > h3 {
  margin: 0 10vw;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(0, 0, 0, 0.7);
}

.mission-container > h2 {
  border: 4px solid #b492c4;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(0, 0, 0, 0.7);
}

.vision-value-container {
  display: inline-flex;
  align-items: center;
  width: 70%;
  border: 4px solid #b492c4;
  padding: 20px;
  margin-bottom: 10vh;
}

.vision-value-container > img {
  padding-right: 5vw;
}

.do-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

.do-container > h2 {
  border-bottom: 1px solid #b492c4;
  padding: 10vh;
}

.do-container > img {
  margin: 5vh 0;
}

#special-do {
  border-top: 1px solid #b492c4;
}

#programs-header {
  border-bottom: 1px solid #b492c4;
  border-top: 1px solid #b492c4;
  padding: 10vh;
}
.do-column-container {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.do-columns {
  width: 25%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.do-columns > h3 {
  border-bottom: 1px solid #b492c4;
  padding: 2vh 8vw;
}

/*-----Org. Chart------*/
.org-jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://www.thehorizonfoundation.org/wp-content/uploads/2018/08/iStock-697438336.jpg");
  background-size: cover;
  height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.org-box,
.right-org-box {
  height: 12vh;
  width: 15vw;
  background-color: #6e3a8463;
  border: 2px solid #ffc107;
  color: white;
  text-align: center;
  font-size: small;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.org-box > h3 {
  border-bottom: 1px solid #b492c4;
  padding-bottom: 6%;
}

.right-org-box > h3 {
  border-bottom: 1px solid #b492c4;
  padding-bottom: 2%;
}
.between-orgs {
  width: 10vw;
  border-bottom: 1px solid #ffc107;
}

.right-org-container {
  height: 100vh;
  width: 20vw;
  border-left: 1px solid #ffc107;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

.right-org-box {
  height: 10vh;
  width: 13vw;
}

/*----------------volunteering page---------------------*/
#opportunity-header {
  border-bottom: 1px solid #b492c4;
  padding: 5vh 0;
}
.upper-volunteering-container {
  height: 50vh;
  width: 100%;
  background-color: #f9f6f9;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #b492c4;
  padding-bottom: 5vh;
}

.volunteering-icon-container {
  text-align: center;
}

.confidentiality-statements,
.ethics-statements,
.logistics-statements,
.emergency-statements {
  text-align: center;
  width: 50vw;
  padding: 5vh 0;
}

.emergency-statements {
  text-align: left;
  width: 50vw;
  padding: 5vh 0;
}
#volunteering-headers {
  border-bottom: 1px solid #b492c4;
  padding-bottom: 5vh;
}

#ethics-headers {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 5vh;
}

#emergency-headers {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 5vh 0;
}
.volunteering-icons {
  padding: 5vh 0;
}
#dvp-confidentiality {
  text-align: left;
  padding-bottom: 5vh;
}

.ethics {
  height: 100%;
  width: 100%;
  background-color: #b179bc;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eeeeee;
}

.logistics,
.mailing-container,
.emergency-statements,
.ethics-statements {
  text-align: left;
}
.mailing-container {
  text-align: left;
}

.emergency-container {
  width: 100%;
  height: 100%;
  background-color: #ce2029;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.emergency-statements > ul {
  padding-bottom: 5vh;
}

/*-------------Policy------------------------*/
#policy-header {
  padding-top: 10vh;
}
.upper-policy-container {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 10vh 5vw;
}

.policy-statements {
  display: flex;
  flex-direction: column;
  width: 25vw;
  align-items: center;
}

.policy-statements > img {
  height: auto;
  width: 10vw;
}

.middle-policy-container,
.lower-policy-container {
  height: 100%;
  width: 100%;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #b179bc;
}

.lower-policy-container {
  border-bottom: 1px solid #b179bc;
}

.accordion {
  background-color: #eee;
  font-family: "Quicksand", sans-serif;
  font-size: large;
  color: black;
  cursor: pointer;
  margin: 0vh 0;
  padding: 50px;
  width: 60%;
  text-align: left;
  border: 1px solid #b179bc;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #b179bc;
  color: white;
}

.panel {
  background-color: white;
  width: 60%;
  height: 100%;
  border: 1px solid #b179bc;
  text-align: left;
  font-size: smaller;
  display: none;
  overflow: hidden;
}

.panel > ul ol {
  padding: 2vh 5vw;
}

.panel > ul > li {
  padding: 2vh 0;
}

.panel > p {
  padding: 2vh 5vw;
}

/*------------dv timeline-------------------*/

#timeline-icon {
  padding-top: 10vh;
}
.decades {
  width: 60vw;
  text-align: left;
  margin-bottom: 10vh;
}

/*--------------dv overview--------------------*/
.dv-bubble-row {
  display: inline-flex;
}
.dv-bubble {
  width: 35vw;
  border: 1px solid #6e3a84;
  background-color: white;
  border-radius: 2%;
  padding: 20px;
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

#arrows {
  font-size: 5vh;
  color: #6e3a84;
}

.cause-effect {
  background-color: white;
  width: 100%;
  padding: 10vh;
  border-top: 1px solid #b492c4;
  border-bottom: 1px solid #b492c4;
  display: inline-flex;
  justify-content: space-around;
}

#cause-effect-header {
  border-bottom: 1px solid #6e3a84;
  padding-bottom: 5vh;
}

.cause,
.effect,
.cycles {
  display: flex;
  flex-direction: column;
}

.cycles {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cycles > h3 {
  border-bottom: 1px solid #6e3a84;
  padding-bottom: 5vh;
}

.TEH {
  width: 100%;
  display: inline-flex;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 10vh 0;
  border-bottom: 1px solid #b492c4;
}

.power-wheel {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 10vh;
  border-bottom: 1px solid #b492c4;
}

.power-wheel > h2 {
  border-bottom: 1px solid #6e3a84;
  padding-bottom: 5vh;
  margin-bottom: 10vh;
}

.pwh-imgs {
  padding: 10vh 0;
}

/*------------How to identify dv--------------*/
.identify-container {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 10vh 10vw;
}

.identify-container > img {
  padding-right: 20vw;
}
#identify-text {
  width: 30vw;
  padding-left: 20vw;
}
.identify-bubble {
  font-size: smaller;
  width: 20vw;
  height: 40vh;
  text-align: left;
  border: 4px solid #6e3a84;
  border-radius: 5%;
  padding: 10px;
  margin-bottom: 10vh;
}

#border-identity {
  border-bottom: 1px solid #b492c4;
}

.red-flags,
.speak {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 15vh 0;
  text-align: left;
  color: black;
  border-bottom: 1px solid #b492c4;
}

.speak-text {
  width: 30vw;
  margin-right: 5vw;
}
/*----------completion form----------------*/
.completion-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
  font-size: smaller;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border: 4px solid #b492c4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 5%;
  padding: 10px;
}

#completion-submit {
  margin: 3vh auto;
}

.completion-text {
  text-align: center;
  width: 50%;
  border-bottom: 1px solid #b492c4;
  margin-bottom: 3vh;
}

.completion-text > p {
  font-family: "Quicksand", sans-serif;
}

/*star rating*/
#star-description {
  text-align: left;
  line-height: 5pt;
}
.star-rating .thanks-msg {
  display: none;
  font-size: 20px;

  color: #4caf50;
  background-color: rgba(76, 175, 80, 0.1411764705882353);
  padding: 8px 20px;
  border-left: 3px solid #4caf50;
  border-radius: 20px;
}
.star-rating input {
  display: none;
}
.star-rating {
  display: table;
  width: auto;
  border: 4px solid #6e3a84;
}
.star-rating label {
  padding: 10px;
  float: right;
  font-size: 15px;
  color: rgb(182, 182, 182);
  opacity: 1;
}
.star-rating input:not(:checked) ~ label:hover,
.star-rating input:not(:checked) ~ label:hover ~ label {
  color: #ffc107;
}
.star-rating input:checked ~ label {
  color: #ffc107;
}
.star-rating form .rating-reaction:before {
  width: 100%;
  float: left;
  color: #ffc107;
}

/*--------iphone x and above------------*/
@media (max-width: 815px) {
  /*-----nav-bar------*/
  .nav-bar {
    height: 8vh;
  }
  .nav-btns,
  #log-out {
    font-size: small;
  }

  #logo {
    height: 4vh;
    width: auto;
    padding-right: 10vw;
    padding-left: 5vw;
  }

  #nav-contact {
    padding-right: 5vw;
  }

  /*------home----------*/
  .home-container {
    margin-bottom: 40vh;
    padding: 15px;
  }

  #log-container {
    display: inline-flex;
  }

  #login-button {
    margin-right: 5vw;
  }

  /*-----------login-signup-----------*/
  .login-signup-container {
    margin-bottom: 40vh;
  }

  /*-------------welcome-container-----------*/
  .welcome-box {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  /*------------handbook--------------*/

  .lesson-path,
  .lesson-boxes {
    font-size: small;
  }

  .lesson-boxes {
    width: 90vw;
    height: 8vh;
  }

  .lesson-top {
    font-size: x-small;
    display: inline-flex;
    justify-content: left;
  }

  /*-------story--------*/
  .upper-container {
    text-align: center;
    font-size: smaller;
    height: 10vh;
    padding-bottom: 5vh;
  }

  .story-photos {
    width: 100vw;
  }

  .story-jumbotron {
    font-size: smaller;
  }

  /*-------mission, vision, and values---------*/
  .mission-container {
    width: 100vw;
  }

  .vision-value-container {
    display: flex;
    flex-direction: column;
    font-size: smaller;
  }

  .vision-value-container > img {
    height: 8vh;
  }

  /*----------what-we-do---------*/
  .do-container {
    width: 80vw;
  }

  .do-column-container {
    display: flex;
    height: 150vh;
    flex-direction: column;
    padding: 10vh 0;
  }

  .do-columns {
    width: 100vw;
    margin-bottom: 10vh;;
  }

  .do-columns > h4 {
    padding: 0 5vw;
  }

  /*------who we are---------*/
  .org-jumbotron {
    height: 250vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: #6e3a84;
    padding-top: 10vh;
  }

  .org-box,
  .right-org-box {
    background-color: #f5f5f5;
    color: black;
    width: 30vw;
    height: auto;
    padding: 20px;
  }
  .between-orgs {
    height: 10vh;
    border-right: 1px solid #ffc107;
    border-bottom: none;
    margin-right: 10vw;
  }

  .right-org-container {
    margin-right: 20vw;
  }

  /*----------------volunteering---------------*/
  .upper-volunteering-container {
    display: block;
    height: 100%;
  }

  .confidentiality-statements,
  .ethics-statements,
  .logistics-statements,
  .emergency-statements {
    width: 80vw;
  }

  /*--------------policy------------------------*/
  .upper-policy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .policy-statements {
    width: 80vw;
  }

  .accordion,
  .panel {
    width: 90vw;
  }

  /*-----------------domestic-violence-timeline---------------*/
  .decades {
    width: 80vw;
  }

  /*--------------domestic-violence-overview------------------*/
  .dv-bubble {
    width: 80vw;
  }

  .cause-effect,
  .effect {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
  }

  .cause-effect > img {
    height: 20vh;
    width: 20vw;
  }
  .cause {
    padding-bottom: 5vh;
  }
  .effect {
    border-top: 1px solid #b492c4;
    width: 60vw;
  }

  .TEH {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #arrows {
    color: whitesmoke;
  }
  .cycles {
    width: 60vw;
  }

  /*------------how-to-identify---------------*/
  #border-identity {
    display: flex;
    flex-direction: column;
  }

  .identify-bubble {
    height: 20vh;
    width: 80vw;
    border-radius: 0%;
    padding: 20px;
  }

  .red-flags,
  .speak {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 5vh;
  }

  .red-flags > img {
    height: 30vh;
    padding-bottom: 5vh;
  }
  .speak > img {
    height: 25vh;
    padding-bottom: 5vh;
  }

  .speak-text {
    width: 60vw;
  }

  /*------------------completion page--------------------*/
  /*-------------------contact-page-----------------------*/
  .completion-container,
  .contact-container {
    width: 90vw;
  }
}
