body {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0px;
}

h1 {
  font-family: "Quicksand", sans-serif;
}

h2 {
  font-family: "Quicksand", sans-serif;
}

h3 {
  font-family: "Quicksand", sans-serif;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

#Nav-Banner {
  text-decoration: none;
  color: black;
  font-size: 30px;
  padding-left: 15px;
}
.nav-bar {
  width: 100%;
  height: 8vh;
  background-color: white;
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  margin: 0px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.nav-left {
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

/*home page----------------------*/
.home-jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://github.com/drakesmelser54/Crossroads-Volunteer-Handbook/blob/master/images/crossroads-building.jpeg?raw=true");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  height: 30vh;
  width: 20vw;
  margin-bottom: 9%;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5;
  font-size: large;
}

/*homepage button styling*/
#login-button {
  border: 2px solid white;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

#signup-button {
  font-family: "Raleway", Helvetica, sans-serif;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

/*Login and Signup Pages*/
.login-signup-container {
  height: 60vh;
  width: 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  text-align: center;
}

.login-signup-container a {
  color: white;
  text-decoration: none;
}

/*Forms---------------------------*/
/*Form-inputs*/
input,
input[type="email"],
input[type="password"],
input[type="text"] select {
  padding: 1vh 1vw;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background: transparent;
  color: white;
  box-sizing: border-box;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder {
  background: transparent;
  color: white;
  font-family: "Quicksand", sans-serif;
}

input[type="submit"],
select {
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 12px;
  cursor: pointer;
  width: 200px;
  font-family: "Quicksand", sans-serif;
}

textarea,
select {
  padding: 2vh 2vw;
  margin: 8px 0;
  width: 80%;
  height: 25%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

/*Form Containers*/
.forms {
  padding: 10vh;
  font-size: large;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.forms > input {
  margin: 5vh;
  text-align: center;
  padding: 1vh 1vw;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Raleway", Helvetica, sans-serif;
  text-align: center;
}

.forms > textarea {
  margin: 5vh;
  width: 30vw;
  height: 20vh;
}

.forms > h2 {
  border-bottom: 1px white solid;
  padding-bottom: 5vh;
  margin: 5vh 5vw;
}

.forms > a {
  color: white;
}

/*------Lesson-Path-Page-------*/
.lesson-path {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  background-color: #eeeeee;
  padding: 10vh 0;
  height: 100%;
  width: 100%;
}

.lesson-path a {
  text-decoration: none;
  color: white;
}

.welcome-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px none;
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-decoration: none;
  height: 80vh;
  width: 60vw;
}
#lesson-button {
  border: 1px solid none;
  text-decoration: none;
  background-color: #6e3a84;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Quicksand", sans-serif;
  padding: 10px 20px;
  cursor: pointer;
}

.lesson-boxes {
  border: 1.5px solid black;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  background-color: white;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  margin-bottom: 5vh;
  height: 12vh;
  width: 60vw;
}

.lesson-top {
  display: flex;
  align-items: baseline;
  padding-left: 10%;
  width: 100%;
  height: 60%;
}

.lesson-bottom {
  height: 40%;
  width: 100%;
  background-color: #6e3a84;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#time {
  font-size: small;
}

/*footer------------*/
.footer {
  height: 20vh;
  width: auto;
  background-color: #3d4452;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer > h4 {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
.footer-links {
  display: inline-flex;
  font-size: 4vh;
  width: 20vw;
  justify-content: space-between;
  text-decoration: none;
  color: white;
}

.footer-links > a {
  text-decoration: none;
  color: white;
}
